*{margin: 0; padding: 0;}
html, body {height: 100%;}
section.page-wrap{min-height: 100%;}

body{font-family: Arial, Sans-sariff; background-color: #3b5998;color: #fff}
footer.main{text-align: center;}